[Unit]
Description=Bind client-service qube network addresses

[Service]
StandardOutput=journal
StandardError=inherit
ExecStart=/opt/bin/qrexec-connect
